@{
    ViewData["Title"] = "Goodbye";
}

<h2>@ViewBag.Message</h2>
<a href="@Url.Action("Index", "Home")">Return Home</a>
<a href="c:\users\true gamer\source\repos\nettlywebappmvcproject\nettlywebappmvcproject\views\home\goodbye.cshtml">c:\users\true gamer\source\repos\nettlywebappmvcproject\nettlywebappmvcproject\views\home\goodbye.cshtml</a>